.popup-togglable-menu-item-btn StIcon {
    icon-size: 16px;
}

.todoist-indicator-container {
  padding: 1em 0;
}

.todoist-indicator-container-section-label {
  margin: 0.5em 2.75em;

  font-size: 1.2em;
  font-weight: bold;
}

.todoist-indicator-container-task {
  font-variant: small-caps;
}

.todoist-indicator-container-task-project-label {
}